{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>e-Tetika - Login</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'backofficepage/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'backofficepage/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'backofficepage/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'backofficepage/images/favicon.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
        <div class="row flex-grow">
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <div class="auth-form-transparent text-left p-3">
              <div class="brand-logo">
                <img src="{% static 'backofficepage/images/logo.svg' %}" alt="logo">
              </div>
              <h4>Selamat datang wal!</h4>
              <h6 class="font-weight-light">Senang bisa liat bubuhannya lagi!</h6>
              {% if request.user.is_authenticated %}
              <h6 class="font-weight-medium">
                  Please, go to dashboard! <a href="{% url 'account:dashboard' %}">Click here!</a>
              </h6>
              {% else %}
              <form class="pt-3" method="post">
                <div class="form-group">
                  {% if form.errors %}
                        <p style="color: red">username or password not correct</p>
                      {% endif %}
                        {% csrf_token %}
                        {% for field in form  %}
                            {{field.label}}
                            {{field}}
                        {% endfor %}
                </div>
                <div class="my-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit"">LOGIN</button>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Ga punya akun? <a href="{% url 'account:register' %}" class="text-primary">Buat</a>
                </div>
              </form>
             {% endif %}
            </div>
          </div>
          <div class="col-lg-6 login-half-bg d-flex flex-row">
            <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2021  All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'backofficepage/vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{% static 'backofficepage/js/off-canvas.js' %}"></script>
  <script src="{% static 'backofficepage/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'backofficepage/js/template.js' %}"></script>
  <script src="{% static 'backofficepage/js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>
